@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

/* Global Variables */

html {
    /* Typography Variables */
    --font-serif: "Manrope", system-ui, sans-serif;

    /* Spacing Variables */
	--spacing-025: 0.125rem;
	--spacing-05: 0.25rem; 
	--spacing-1: 0.5rem;
	--spacing-2: 1rem;
	--spacing-3: 1.5rem;
	--spacing-4: 2rem;
	--spacing-5: 2.5rem;
	--spacing-6: 3rem;
	--spacing-7: 3.5rem;
	--spacing-8: 4rem;
	--spacing-9: 4.5rem;
	--spacing-10: 5rem;
	--spacing-11: 5.5rem;
	--spacing-12: 6rem;

    /* Radii Variables */
	--radius-s: 4px;
	--radius-m: 8px;
	--radius-l: 16px;
}

body {
    height: 100vh;
    margin: 0;
}

main {
    width: 80%;
    margin: 0 auto;
    padding-top: var(--spacing-8);
    display: flex;
    flex-direction: column;
    gap: var(--spacing-3);
}

/* Typography */

h1 {
    margin: 0;
    font-family: var(--font-serif);
    font-size: 2.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

h3 {
    margin: 0;
    font-family: var(--font-serif);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}

a {
    margin: 0;
    font-family: var(--font-serif);
    font-size: 1rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

p {
    margin: 0;
    font-family: var(--font-serif);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* Layout */

.projects {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--spacing-3);
}

.project-card {
    overflow: hidden;
    /* Layout */
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;    
    /* Style */
    border-radius: var(--radius-m, 0.5rem);
    border: 1px solid #D4D3DF;
    background: #FFF;
    box-shadow: 0px 1px 0px 0px #D4D3DF;
}

.details {
    display: flex;
    padding: var(--spacing-3, 1.5rem);
    flex-direction: column;
    align-items: flex-start;
    gap: var(--spacing-2, 1rem);
    align-self: stretch;
}

.description {
    height: 2.75rem;
    overflow: hidden;
    text-overflow: ellipsis;
}

img {
    width: 100%;
    height: 250px;
}